div {
  margin: 10px;
  padding-top: 20px;
}

a.tab-button, a.add-tab-button{
  margin: 5px 10px;
  padding: 5px;
  border: 1px solid black;
  cursor: hand;
}

li {
  float: left;
}

a.active.tab-button {
  color: #FFF;
  background-color: blue;
  border: none;
}
